body {
  background-color: rgb(255, 147, 147);
}

h1{
  text-align: center;
  background-color: rgb(255, 255, 255);
}

nav{
  text-align: center;
  background-color: rgb(255, 255, 255);
}

hr{
  border-color: black;
}
h5{
  text-align: center;
}
p{
  background-color: white;
  text-align: center;
}
