table {
  background-color: rgb(255, 85, 85);
  border: 1px solid black;
  width: 400px;
  border-spacing: 5px;
  margin-left: auto;
  margin-right: auto;
}
td{
    padding: 10px;
}
th{
    padding: 5px;
}
